@model List<Author>
@{
    int count = 0;
    ViewData["Title"] = "Author";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">Birtdate</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var auth in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@auth.Fullname</td>
                            <td>@auth.BirthDate.ToString("dd MMMM, yyyy")</td>
                            <td>
                                <a href="#" class="btn btn-primary">Edit</a>
                                <a href="#" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

