@model Slider
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 my-4 mx-auto">
            <form asp-action="edit" method="post">
                <div class="mb-3">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Desc" class="form-label">Description</label>
                    <input asp-for="Desc" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="BtnText" class="form-label">BtnText</label>
                    <input asp-for="BtnText" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="BtnUrl" class="form-label">BtnUrl</label>
                    <input asp-for="BtnUrl" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Order" class="form-label">Order</label>
                    <input asp-for="Order" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Image" class="form-label">Image</label>
                    <input asp-for="Image" type="text" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

