@model Book
@{ ViewData["Title"] = "Create"; }

<div class="container">
    <div class="row">
        <div class="col-md-6 my-4 mx-auto">
            <form asp-action="create" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" type="text" class="form-control">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Desc" class="form-label">Description</label>
                    <input asp-for="Desc" type="text" class="form-control">
                    <span class="text-danger" asp-validation-for="Desc"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="AuthorId" class="form-label">Author</label>
                    <select asp-for="AuthorId">
                        @foreach (Author aut in ViewBag.Authors)
                         {
                            <option value="@aut.Id">
                                @aut.Fullname
                            </option>
                         }
                    </select>
                    <span class="text-danger" asp-validation-for="AuthorId"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="SalePrice" class="form-label">SalePrice</label>
                    <input asp-for="SalePrice" type="text" class="form-control">
                    <span class="text-danger" asp-validation-for="SalePrice"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PosterImage" class="form-label">PosterImage</label>
                    <input asp-for="PosterImage" class="form-control">
                    <span class="text-danger" asp-validation-for="PosterImage"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ImageFiles" class="form-label">Images</label>
                    <input asp-for="ImageFiles"class="form-control">
                    <span class="text-danger" asp-validation-for="ImageFiles"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

